@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "pretendard", "경기천년바탕", sans-serif;
  font-size: 16px;
  line-height: 1.35;
  color: #2e2e2e;
}

table {
  border-collapse: collapse;
  width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

address, em {
  font-style: normal;
}

caption, legend {
  display: none;
}

select, input, fieldset {
  vertical-align: top;
}

img {
  vertical-align: top;
  border: 0;
}